@tailwind base;
@tailwind components;
@tailwind utilities;
:root{color-scheme:light}
html,body{background:white}
body{font-feature-settings:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}